# =========================
# Entornos virtuales
# =========================
.venv/
venv/
env/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Django
# =========================
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Migraciones compiladas (opcional, yo NO las ignoro)
# */migrations/*.py
# !*/migrations/__init__.py

# =========================
# Variables de entorno
# =========================
.env
.env.*
.env.local

# =========================
# Render / Deploy
# =========================
*.pem
*.key

# =========================
# VS Code / SO
# =========================
.vscode/
.DS_Store
Thumbs.db

# =========================
# Archivos temporales
# =========================
*.tmp
*.swp
*.bak
